body {
    background-image: url("./img/check8.jpg");
    background-position: center;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header {
    background-color: #333;
    color: #A1A6B4;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-left: 20px;
}
nav {
    text-align: center;
    flex-grow: 1;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 22px;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
nav ul li a:hover {
    background-color: #555;
    transition: background-color 0.3s ease;
}
.logout {
    margin-right: 150px;
}
.logo-img{
    height: 150px;
    width: 150px;
}
.logo {
    position: relative;
    text-align: center;
}

.logo-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding-left: 350px;
}

.logout button {
    background-color: transparent;
    border: none; 
    color: red; 
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 22px;
}
.logout button:hover {
    background-color: red; 
    color: white;
}


/* The sidepanel menu */
.menu {
    margin-top: 122px;
    height: 2500px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .menu a {
    padding: 8px 8px 8px 32px; /* Adjust padding to add gaps */
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-bottom: 30px; /* Add margin-bottom to create gaps */
}

  
  /* When you mouse over the navigation links, change their color */
  .menu a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .menu .menu-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .menu-btn {
    
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .menu-btn:hover {
    background-color: #444;
  }
  #chartContainer {
    width: 300px; /* Adjust the width as needed */
    margin-left: 20px; /* Add left margin to position it on the left */
    padding-left: 300px;
}
.goalcontainer {
    display: flex;
    justify-content: flex-end; /* Aligns content to the right */
}

.goal-box {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
    border-radius: 10px; /* Add curved edges */
    padding: 20px;
    width: 300px; /* Adjust width as needed */
    margin-right: 300px; /* Add some margin for spacing */
    margin-top: 100px;
}

.goal-box h2 {
    color: #333;
    margin-bottom: 10px;
}

.goal-row {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}
.loan-container {
    display: flex;
}

.CarLoan-box {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
    border-radius: 10px; /* Add curved edges */
    padding: 20px;
    width: 300px; /* Adjust width as needed */
    margin-left: 480px; /* Add margin for spacing */
    margin-top: 250px;
    justify-content: flex-end;
}

.HomeLoan-box {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
    border-radius: 10px; /* Add curved edges */
    padding: 20px;
    width: 300px; /* Adjust width as needed */
    margin-left: 450px; /* Add margin for spacing */
    margin-top: 250px;
    justify-content: flex start;
}

.HomeLoan-box h2,
.CarLoan-box h2 {
    color: #333;
    margin-bottom: 10px;
}
